<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
            <p class="fst-italic">Some dummy text to describe addding
                contact.
            </p>
        </div>
    </div>
</div>

<!--Loading-->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!--Error Message-->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>

<!--Contact Form-->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <form (submit)= "createSubmit()">
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.name" name="name" class="form-control" placeholder="Name" type='text'>
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.email" name="email" class="form-control" placeholder="Email" type='text'>
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.photo" name="photo" class="form-control" placeholder="Photo Url" type='text'>
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.mobile" name="mobile" class="form-control" placeholder="Mobile" type='text'>
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.company" name="company" class="form-control" placeholder="Company" type='text'>
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.title" name="title" class="form-control" placeholder="title" type='text'>
                </div>
                <div class="mb-2" *ngIf="groups.length>0">
                   <select required="true" [(ngModel)]="contact.groupId" name="groupId" class="form-control">
                        <option value="">Select a Group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                   </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" value="Creat" type="submit">
                    <a class="btn btn-dark ms-2" routerLink="/">Close</a>
                </div>
                
            </form>
        </div>
        <div class="col-sm-4">
            <img alt="" [src]="contact.photo" class="contact-img">
        
        </div>
    </div>
</div>