<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<nav class="navbar navbar-dark bg-danger navbar-expand-sm">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand">
            <i class="fa fa-mobile"></i>
                NG Contact Manager
        </a>
        
    </div>   
</nav>